setuptools
sqlalchemy==2.0.41
pymysql==1.1.1
plotly==5.20.0
apscheduler==3.10.4
bcrypt==4.1.2
openpyxl==3.1.2
python-dotenv==1.0.1
streamlit-option-menu==0.3.12
streamlit-extras==0.4.2
cryptography==42.0.5
pandas==2.2.3
streamlit==1.45.1
reportlab==4.1.0